/*Universal Styles*/
body{
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color:seashell;
  background-color:black;
  opacity:0.9;
  margin: 0;
  padding:0;
  text-align:center;
}

a{
  color:seashell;
  text-decoration: underline;
}

h2,h3,h4{
  margin:0;
  padding:10px
}

/*Header and navigation*/


header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color:black;
  opacity:0.9;
}

nav span {
  display: inline-block;
  padding: 20px 20px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

/*Mission*/

.main-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mission{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  height 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size:cover;
}

.mainimage{
  margin-top: 70px;
  width: 1200px;
  height: 700px;
  margin: 0px auto;
  padding: 50px 0;
}
.strapline{
  width: 1240px;
  height: 100px;
  background-color: black;
  text-align: center;
	margin-top:369px;
}

.strapline h2{
  padding:5px;
  text-align:center;
}

.stapline h4{
  padding: 5px;
  text-align: center;
}

/*Store*/

.store{
  width: 1000px;
  height: 700px;
  margin:auto;
  padding-top: 70px;
}

.items{
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

}

.items img {
  height: 200px;
  margin: 10px;

}

.items span{
  display: block;
  padding:5px;
}

/*Locations*/

.locations{
  width:1200px;
  height:500px;
  margin: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg")
}

.venues{
  display: inline-block;
  position: relative;
  background-color:black;
  text-align: center;
  margin: 0 auto;
  width:300px;
  margin-top: 15px;
  margin-right: 40px;
}

/*Footer*/

footer{
  text-align: left;
  padding: 20px;
}
